<div class="registerform">
    <form method="POST" action="" enctype=multipart/form-data>
        {{ form.hidden_tag() }}
        <div class="labels">
            {{form.username.label()}}
            {{form.username}}
            {% if form.username.errors %}
            <div class="error">
                {% for error in form.username.errors %}
                    <span> {{error}} </span>
                {% endfor %}
            </div>
            {% endif %}
            {{form.email.label()}}
            {{form.email}}
            {% if form.email.errors %}
            <div class="error">
                {% for error in form.email.errors %}
                    <span> {{error}} </span>
                {% endfor %}
            </div>
            {% endif %}
            {{form.password.label()}}
            {{form.password}}
            {{form.confirm.label()}}
            {{form.confirm}}
            {% if form.password.errors %}
            <div class="error">
                {% for error in form.password.errors %}
                    <span> {{error}} </span>
                {% endfor %}
            </div>
            {% endif %}
            {{form.submit()}}
            {% if form.email.errors %}
                <div class="error">
                    {% for error in form.email.errors %}
                        <span> {{error}} </span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>  
    </form>
</div>